<div class="topcontainer">
  <div class="topbar">
      <i class="fa fa-twitter logocenter" aria-hidden="true"></i>
  </div>

  <div class="AppContent wrapper wrapper-signup" id="page-container">
      <link rel="stylesheet" href="https://abs.twimg.com/a/1511833274/css/t1/t1_signup.bundle.css">
      <div class="page-canvas">
          <div class="signup-wrapper">
              <h1>
                 Welcome to KWETTER!
              </h1>
              <div class="t1-form signup " id="phx-signup-form">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="textbox">
                    <div class="form-group">
                        <div data-fieldname="username" class="field">
                          <div class="sidetip">
                            <p id="usernameerror" role="alert" class="invalid error">Please enter a valid username.</p>
                          </div>
                          <input type="text" placeholder="Username" formControlName="username" class="username-input" id="username"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is mandatory</div>
                          </div>
                        </div>
                      </div>
          
                      <div class="form-group">
                        <div data-fieldname="fullname" class="field">
                          <div class="sidetip">
                            <p id="fullnameerror" role="alert" class="invalid error">Please enter a valid fullname.</p>
                          </div>
                          <input type="text" placeholder="Full name" formControlName="fullname" class="fullname-input" id="fullname"
                            [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                          <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                            <div *ngIf="f.fullname.errors.required">fullname is mandatory</div>
                          </div>
                        </div>
                      </div>
          
                      <div class="form-group">
                        <div data-fieldname="email" class="field">
                          <div class="sidetip">
                            <p id="emailerror" role="alert" class="invalid error">Please enter a valid email.</p>
                          </div>
                          <input type="email" placeholder="Email" formControlName="email" class="email-input" id="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is mandatory</div>
                          </div>
                        </div>
                      </div>
          
                      <div class="form-group">
                        <div data-fieldname="password" class="field">
                          <div class="sidetip">
                            <p id="passworderror" role="alert" class="invalid error">Please enter a valid password.</p>
                          </div>
                          <input type="password" placeholder="Password" formControlName="password" class="password-input" id="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is mandatory</div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="doit">
                    <div class="form-group">
                        <button [disabled]="loading" class="signup EdgeButton EdgeButton--primary EdgeButton--large submit"
                          id="submit_button">Register</button>
                      </div>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

