<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" alt="Avatar" class="avatar" style="width: 200px;"></div>
    <div class="list-group list-group-flush">
      <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a routerLink="/trends" class="list-group-item list-group-item-action bg-light active">Trends</a>
      <a (click)="logout()" class="list-group-item list-group-item-action bg-light">Logout</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div style="text-align: center; width: 100%;">
        <a href=""><img src="https://fontmeme.com/permalink/200522/4f59d3472d97a9fc3a82304854f669cb.png" alt="twitter-font"></a>
      </div>
    </nav>
</div>
