$accent-colour: #3b94d9;
$light-colour: #697882;
$family-1: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $family-1;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ebebeb;
  margin: 0;
}

.tweet {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color .1s;
  
  &:hover {
    border-color: #ccd6dd;
  }
  
  .tweet-head {
    display: flex;
    line-height: 1.2;
    
    .tweet-image {
      display: flex;
      align-items: center;
      margin-right: 9px;
      
      img {
        border-radius: 999px;
        height: 38px;
        width: 38px;
      }
    }
    
    .tweet-author {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      &:hover .name {
        color: $accent-colour;
      }
      
      .name {
        font-weight: 800;
        transition: color .1s;
      }
      
      .handle {
        color: $light-colour;
        font-size: .875rem;
      }
    }
  }
  
  .tweet-footer {
    .icons {
      .fa {
        color: $light-colour;
        margin-right: 1rem;
        transition: color .1s;
        
        .icon-number {
          font-family: $family-1;
          font-size: 1rem;
          font-weight: normal;
        }
      }
      
      .fa-reply:hover {
        color: $accent-colour;
      }

      .fa-retweet:hover {
        color: #3da50d;
      }

      .fa-heart:hover {
        color: #E0245E;
      }
    }
  }
}

@keyframes refresh {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

