<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
        alt="Avatar" class="avatar" style="width: 200px;"></div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" style="color: green;">Welcome
        {{currentUser.fullName}}</a>
      <a routerLink="/home" class="list-group-item list-group-item-action bg-light active">Home</a>
      <a routerLink="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a routerLink="/trends" class="list-group-item list-group-item-action bg-light">Trends</a>
      <a routerLink="/discover" class="list-group-item list-group-item-action bg-light">Discover</a>
      <a (click)="logout()" class="list-group-item list-group-item-action bg-light">Logout</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div style="text-align: center; width: 100%;">
        <a href=""><img src="https://fontmeme.com/permalink/200522/4f59d3472d97a9fc3a82304854f669cb.png"
            alt="twitter-font"></a>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="container h-100">
        <br>
        <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()">
          <div class="d-flex justify-content-center h-100">
            <div style="width: 60%; border: 2px solid grey">
              <div class="form-group">
                <div data-fieldname="tweetText" class="field">
                  <div class="sidetip">
                  </div>
                  <textarea style="width: 100%; height:150px" placeholder="Type text here.." formControlName="tweetText"
                    class="tweetText-input" id="tweetText"
                    [ngClass]="{ 'is-invalid': submitted && f.tweetText.errors }"></textarea>
                  <div *ngIf="submitted && f.tweetText.errors" class="invalid-feedback">
                    <div *ngIf="f.tweetText.errors.required">Text is verplicht</div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="text-align: center;">
                <button [disabled]="loading" class="signup EdgeButton EdgeButton--primary EdgeButton--large submit"
                  id="submit_button">TWEET</button>
              </div>
              <br>
            </div>
          </div>
        </form>
        <br>
        <div class="d-flex justify-content-center h-100">
          <div style="width: 60%; border: 2px solid grey; height: 600px; overflow: auto">

            <div class="list-group" *ngIf="obTweet$ | async as tweets$; else loading">
              <div *ngIf="tweets$.length; else noItems">
                <div class="tweet" *ngFor="let tweet of tweets">
                  <div class="tweet-head">
                    <div class="tweet-image">
                      <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
                        alt="avatar" />
                    </div>
                    <div class="tweet-author">
                      <div class="name">{{tweet.user.fullName}}</div>
                      <div class="handle">@{{tweet.user.userName}}</div>
                    </div>
                  </div>
                  <div class="tweet-body">
                    <p id="tweet-text">{{tweet.text}}</p>
                  </div>
                  <div class="tweet-footer">
                    <div class="icons">
                      <i class="fa fa-reply logocenter" aria-hidden="true"></i>
                      <i class="fa fa-retweet logocenter" aria-hidden="true"></i>
                      <i class="fa fa-heart logocenter" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #noItems>There are no tickets available at the moment!</ng-template>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
