  <div class="topcontainer">
    <div class="topbar">
      <i class="fa fa-twitter logocenter" aria-hidden="true"></i>
    </div>

    <div class="AppContent wrapper wrapper-signup" id="page-container">
      <link rel="stylesheet" href="https://abs.twimg.com/a/1511833274/css/t1/t1_signup.bundle.css">
      <div class="page-canvas">
        <div class="signup-wrapper">
          <br>
          <a href=""><img src="https://fontmeme.com/permalink/200522/4f59d3472d97a9fc3a82304854f669cb.png" alt="twitter-font"></a>
          <br>
          <br>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="t1-form signup " id="phx-signup-form">
              <div class="textbox">
                <div class="form-group">
                  <div data-fieldname="email" class="field">
                    <div class="sidetip">
                      <p id="emailerror" role="alert" class="invalid error">Please enter a valid email.</p>
                    </div>
                    <input type="text" placeholder="Email" formControlName="username" class="email-input" id="email"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Gebruikersnaam is verplicht</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div data-fieldname="password" class="field">
                    <div class="sidetip">
                      <p id="passerror" role="alert" class="blank error">Please enter a password.</p>
                    </div>
                    <input type="password" placeholder="Password" formControlName="password" aria-required="true"
                      id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Wachtwoord is verplicht</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="doit">
                <div class="form-group">
                  <button [disabled]="loading" class="signup EdgeButton EdgeButton--primary EdgeButton--large submit"
                    id="submit_button">Login</button>
                </div>
                <p *ngIf="error !== ''">{{error}}</p>
                <a routerLink="/register">Register / Forgot password</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-loading-overlay *ngIf="loading"></app-loading-overlay>
