<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink="/profile" class="list-group-item list-group-item-action bg-light active">Profile</a>
      <a routerLink="/trends" class="list-group-item list-group-item-action bg-light">Trends</a>
      <a routerLink="/discover" class="list-group-item list-group-item-action bg-light">Discover</a>
      <a (click)="logout()" class="list-group-item list-group-item-action bg-light">Logout</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div style="text-align: center; width: 100%;">
        <a href=""><img src="https://fontmeme.com/permalink/200522/4f59d3472d97a9fc3a82304854f669cb.png"
            alt="twitter-font"></a>
      </div>
    </nav>

    <div class="d-flex justify-content-center h-100" style="text-align: center;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
                  style="width: 300px;">
              </div>
              <div class="name">
                <h1 style="color: #1DA1F2;">@{{currentUser.userName}}</h1>
                <h3 class="title">{{currentUser.fullName}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <h5> Biografie:</h5>
          <p>{{currentUser.bio}} </p>
        </div>

        <div class="twPc-divStats">
          <ul class="twPc-Arrange">
            <li class="twPc-ArrangeSizeFit">
              <a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
                <span class="twPc-StatLabel twPc-block">Tweets</span>
                <span class="twPc-StatValue">8</span>
              </a>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <a href="https://twitter.com/mertskaplan/following" title="885 Following">
                <span class="twPc-StatLabel twPc-block">Following</span>
                <span class="twPc-StatValue">3</span>
              </a>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <a href="https://twitter.com/mertskaplan/followers" title="1.810 Followers">
                <span class="twPc-StatLabel twPc-block">Followers</span>
                <span class="twPc-StatValue">2</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
