<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
        alt="Avatar" class="avatar" style="width: 200px;"></div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" style="color: green;">Welcome
        {{currentUser.fullName}}</a>
      <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a routerLink="/trends" class="list-group-item list-group-item-action bg-light">Trends</a>
      <a routerLink="/discover" class="list-group-item list-group-item-action bg-light active">Discover</a>
      <a (click)="logout()" class="list-group-item list-group-item-action bg-light">Logout</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div style="text-align: center; width: 100%;">
        <a href=""><img src="https://fontmeme.com/permalink/200522/4f59d3472d97a9fc3a82304854f669cb.png"
            alt="twitter-font"></a>
      </div>
    </nav>
    <br>
    <div class="container-fluid">
      <div class="container h-100">

        <div class="list-group" *ngIf="obUser$ | async as users$; else loading">
          <div *ngIf="users$.length; else noItems">
            <a *ngFor="let user of users"
              class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 font-weight-bold">@{{user.userName}}</h5>
                <button type="button" class="btn btn-primary"
                  (click)="follow(user)">Follow</button>
              </div>
            </a>
          </div>
          <ng-template #noItems>There are no tickets available at the moment!</ng-template>
        </div>
      </div>
    </div>

  </div>
